[Unit]
Description=AFC - Active Fan Controller
After=local-fs.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=8
User=root
ExecStart=/usr/local/sbin/afc

[Install]
WantedBy=basic.target